<!DOCTYPE html>
<html lang="en">
<head>
   <partial name="./Dashboard/_Header.cshtml" />
</head>
<body>
    <div>
        <partial name="./Dashboard/_NavBar.cshtml" />
        <partial name="./Dashboard/_SideBar.cshtml" />
        @RenderBody()
        <partial name="./Dashboard/_Footer.cshtml" />
    </div>

    <partial name="./Dashboard/_FooterIncludes.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
