<!DOCTYPE html>
<html lang="en">
<head>
   <partial name="./Login/_Header.cshtml" />
</head>
<body class="hold-transition login-page">

   @RenderBody()
    <partial name="./Dashboard/_FooterIncludes.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
