@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>TopNews</b></a>`
        </div>
        <div class="card-body">
            <p class="login-box-msg">Reset Password</p>
            @if (@ViewBag.AuthError != null)
            {
                <span class="text-danger">@ViewBag.AuthError</span>
            }
            <form method="post" asp-action="ResetPassword">
                <div class="input-group mb-3">
                    <input required type="password" name="Password" class="form-control" placeholder="New password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input required type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm new password">
                    <input required type="hidden" name="Email" value="@ViewBag.Email">
                    <input required type="hidden" name="Token" value="@ViewBag.Token">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a asp-action="Login">Back to login</a>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->